* {
    box-sizing: border-box;
    /* Apply box-sizing to all elements */
  }
  
  body {
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
  }
  
  main {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    flex-flow: column;
  }
  
  .site-menu {
    width: 100%;
    background: lightblue;
    padding: 1em;
    flex: 0 0 auto;
  }
  
  .chat-messages {
    flex: 1 1 auto;
    overflow-y: scroll;
    background-color: #eee;
  }
  
  .chat-messages .chat-message {
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 1em;
  }
  
  .chat-input {
    flex: 0 0 auto;
    display: flex;
    background-color: green;
  }
  
  .chat-input textarea {
    flex: 1 1 auto;
    display: block;
    width: 100%;
    font-family: sans-serif;
    padding: .5em;
    resize: none;
  }
  
  .chat-input .chat-actions {
    display: flex;
  }
  